<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Impacto das mulheres negras na sociedade</title>
</head>
<body>
    <header class="bg-dark text-white text-center py-5">
        <img src="{{ url_for('static', filename='images/school_logo.jpg') }}" alt="Logo da Escola" class="img-fluid school-logo">
        
        <h1 class="mb-4">Impacto das mulheres negras na sociedade.</h1>
    </header> 

    <!-- Seção para exibir a introdução -->
<section class="container mt-4">
    <div class="intro">
        <h2>Introdução</h2>
        <p>{{ introduction }}</p>
    </div>
</section>

    <!-- Seção para exibir tópicos -->
    <section class="container mt-4">
        {% for topic in topics %}
            <div class="topic">
                <h2>{{ topic['title'] }}</h2>
                <p>{{ topic['text'] }}</p>
            </div>
        {% endfor %}
    </section>

    <!-- Seção para exibir a conclusão -->
    <section class="container mt-4">
        <div class="conclusion">
            <h2>Conclusão</h2>
            <p>{{ conclusion }}</p>
        </div>
    </section>

    <!-- Seção para exibir imagens -->
    <section class="container mt-4">
        <div class="images">
            <h2>Imagens</h2>
            <div class="row">
                {% for image in images %}
                    <div class="col-md-2 mb-3">
                        <img src="{{ url_for('static', filename='images/' + image) }}" alt="Image {{ loop.index }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2023 Impacto das mulheres negras na sociedade</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
